@mixin flexRow($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}
@mixin alignFlexRow($align) {
  display: flex;
  flex-direction: row;
  align-items: $align;
}

* {
  padding: 0;
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.topNav {
  position: sticky;
  top: 0;
  z-index: 10000;
  margin-bottom: 20px;
  padding-left: 80px;
  background: #ffffff;
  @include flexRow(space-between);
  align-items: center;
  padding-right: 80px;
  &_center {
    height: 80px;
    padding-top: 16px;
    padding-bottom: 16px;
    .search_div {
      @include alignFlexRow(center);
      height: 48px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      font-size: 0.875rem;
      color: #222222;
      font-weight: 600;
      border-radius: 40px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
      transition: box-shadow 0.2s ease;
      padding: 15px;
      padding-left: 8px;
      padding-right: 10px;
      &:hover {
        transition: box-shadow 0.2s ease;
        box-shadow: 0 0 0 2px rgb(0 0 0 / 8%), 0 0 0 4px rgb(0 0 0 / 5%);
      }
      div {
        @include alignFlexRow(center);
        padding-left: 16px;
        padding-right: 16px;
      }
      .searchIcon {
        @include alignFlexRow(center);
        padding: 10px;
        border-radius: 50%;
        background: #ff385c;
        width: 32px;
        height: 32px;
      }
      .add_guest {
        color: #717171;
        font-weight: 400;
      }
    }
    .host_wrapper {
      @include alignFlexRow(center);
      height: 42px;
      .host_tittle {
        padding: 12px;
        transition: color 250ms ease;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 22px;
        color: #222222;
        &:hover {
          background: rgb(0 0 0 / 8%);
        }
      }
      .hamburger_div {
        @include alignFlexRow(center);
        border: 1px solid #dddddd;
        border-radius: 21px;
        transition: box-shadow 0.2s ease;
        width: 77px;
        padding: 5px;
        padding-left: 12px;
        gap: 10px;
        margin-left: 10px;
        &:hover {
          transition: box-shadow 0.2s ease;
          box-shadow: 0 0 0 2px rgb(0 0 0 / 8%), 0 0 0 4px rgb(0 0 0 / 5%);
        }
      }
    }
  }
}
.bottomNav {
  position: sticky;
  top: 80px;
  z-index: 10000;
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  padding-right: 80px;
  padding-left: 80px;
  margin-bottom: 24px;
  background: #ffffff;
}
.filter_div {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  right: 80px;
  top: 40%;
  transform: translate(0, -30%);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 12px;
  margin: 0;
  padding: 7px 16px;
}
.menu_wrapper {
  margin-left: 30px !important;
  margin-right: 135px !important;
  &::after {
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
.week_flter {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.slick-track {
  flex-direction: row !important;
  justify-content: space-between !important;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  padding: 4px 0 14px;
  margin: 12px 0 0;
  transition: box-shadow 0.2s ease, color 0.2s;
  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
.active_route {
  border-bottom: 1px solid #000000;
}
.arrow_btn {
  position: absolute;
  top: 50%;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: center;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(0 0 0 / 0.3);
  background-clip: padding-box;
  background-color: #ffffff;
  transition: box-shadow 0.2s ease;
  height: 28px;
  width: 28px;
  &:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 8%), 0 0 0 4px rgb(0 0 0 / 5%);
  }
}
.slick-next:before,
.slick-prev:before {
  display: none;
}
.next {
  right: -25px;
}
.prev {
  left: -25px;
}
.liked {
  svg {
    path {
      fill: #ff0000 !important;
    }
  }
}

.map_container {
  position: fixed;
  bottom: 97px;
  @include flexRow(center);
  width: 100%;
  z-index: 1000;
  button {
    @include alignFlexRow(center);
    border-radius: 24px;
    margin: 0px;
    padding: 14px 19px;
    width: 140px;
    color: #ffffff;
    gap: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    background: #000000;
    touch-action: manipulation !important;
    cursor: pointer;
    &:hover {
      scale: 1.1;
      -webkit-transition: -webkit-transform 0.25s ease, transform 0.25s ease !important;
      -moz-transition: transform 0.25s ease !important;
      transition: -ms-transform 0.25s ease, -webkit-transform 0.25s ease,
        transform 0.25s ease !important;
    }
  }
}

.footer {
  button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    background: transparent;
    transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
      transform 0.25s ease 0s;
  }
  z-index: 10000;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  .footer_content {
    @include flexRow(space-between);
    color: #222222;
    padding: 13px 40px 14px;
    .left_footer,
    .right_footer_span {
      @include alignFlexRow(center);
      gap: 9px;
      align-content: center;
    }
    .right_footer {
      @include alignFlexRow(center);
      gap: 24px;
      font-weight: 600;
    }
  }
}
.footer_links_container {
  padding: 24px;

  .footer_links_content {
    .section {
      padding-left: 12px;
      padding-right: 12px;
    }
    margin-top: 8px;
    @include flexRow(space-around);
    font-size: 0.875rem;
    padding-bottom: 3rem;
    h4 {
      font-weight: 800;
      margin-bottom: 16px;
    }
    a {
      color: #484848;
      margin-bottom: 16px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.border_top {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.left_0 {
  left: 0;
}

.right_0 {
  right: 0;
}

.absolute {
  position: absolute;
}
.hidden {
  display: none !important;
}

.nav_item_name{
  text-align: center;
}

@media (max-width: 800px) {
  .filter_div {
    display: none;
  }
  .menu_wrapper {
    margin-right: 30px !important;
  }
}
@media (max-width: 1437px) {
  .topNav,
  .bottomNav {
    padding-left: 40px;
    padding-right: 40px;
    .filter_div {
      right: 40px;
    }
  }
}

@media (max-width: 1126px) {
  .logo svg {
    width: 30px;
    path:nth-child(2) {
      display: none;
    }
  }
}
@media (max-width: 990px){

  .right_footer {
    flex-direction: column !important;
    gap: 5px !important;
    font-size: 14px;
  }
  .center_footer{
    display: flex;
    flex-direction: column;
  }
  .divider{
    display: none !important;
  }
}
@media (max-width: 732px) {
  .topNav,
  .bottomNav {
    padding-left: 24px;
    padding-right: 24px;
    .filter_div {
      right: 24px;
    }
  }
  .topNav .search_div{
    display: none;
  }
}
